body{
    margin: 0;
    text-align: center;
    background-image: url(basketball_bg.png);
    background-size: cover;

}

h2{
    font-family: customFont;
    font-size: 100px;
    color: #FFFFFF;
    margin: 85px 64px 94px 64px;
    text-shadow: 0px 0px 10px blue;
}


@font-face{
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: customFont;
}